* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    position: relative;
    margin: 0;
    background: white;
  }
  
  .wrapper {
    min-height: 100vh;
    display: flex; /* Use flexbox to handle the layout */
  }
  
  .sidebar {
    flex: 1;
  max-width: 300px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-right: 20px;
  }
  
  .content {
    flex: 2; /* Take up 200% of the available width */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Prevent image overflow on small screens */
  }
  
  .content img {
    max-width: 100%; /* Ensure the image doesn't exceed the container width */
    height: auto;
  }
  
  .sidebar h1 {
    margin-top: 100px;
    font-size: 36px;
    text-align: center;
  }
  
  .sidebar .input-box {
    position: relative;
    margin: 1rem 0;
  }
  
  .input-box input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(223, 220, 220);
    border-radius: 40px;
    font-size: 16px;
    color: #FF6347;
    padding: 20px 45px 20px 20px;
  }
  
  .input-box input::placeholder {
    color: white;
  }
  
  .input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
  }
  
  
  
  .sidebar .btn {
    width: 100%;
    height: 45px;
    background: #F38249;
    border: none;
    margin-top: 30px;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
  }
  .btn{
    margin-bottom: 10px;
  }
  
  
  .sidebar .register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
  }
  
  .register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  
  .register-link p a:hover {
    text-decoration: underline;
  }
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
 
  
  
  /* Media Queries */
  @media screen and (max-width: 1366px) {
    .sidebar {
      padding: 10vh 2vw; /* Adjust padding */
    }
  }
  
  @media screen and (max-width: 1300px) {
    .content img {
      max-width: 80%; /* Adjust image size */
    }
  }
  
  @media screen and (max-width: 300px) {
    .wrapper {
      flex-direction: column; /* Stack elements in a column */
    }
  
    .sidebar,
    .content {
      width: 100%;
      padding: 6vh 3vw; /* Adjust padding */
    }
  
    .content img {
      max-width: 90%; /* Adjust image size */
    }
  }
  