/* Style for the custom container */
.custom-container {
    display: flex;
    width: 100%;
  }
  
  /* Style for the custom sidebar */
  .custom-sidebar {
    width: 20%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  /* Style for the sidebar image */
  #CustomAdminicon_sidebar {
    max-width: 100%;
  }
  
  /* Style for the sidebar text */
  .custom-sidebar-text {
    text-align: center;
    margin-top: 10px;
  }
  
  /* Style for the custom main content container */
  .custom-main-content {
    width: 80%;
    padding: 20px;
    background-color: #b0aeae;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  /* Style for the modal inputs */
  .custom-modal {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    
  }
  .mode{
    width: 30%; /* Adjust width to fit the content well */
    background-color: #b0aeae;

    border-radius: 15px;
  }
  
  /* Style for the modal buttons */
  .btn {
    margin-bottom: 60px;
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Style for the logout button */
  #CustomLogoutButton {
    background-color: #f00;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  .custom-logout-container{
    margin-top: 300px;
  }
  
  /* Add any other custom styles as needed */
  
  /* Media Query for Mobile Devices */
  @media screen and (max-width: 768px) {
    .custom-container {
      flex-direction: column;
    }
    .custom-sidebar {
      width: 100%;
    }
    .custom-main-content {
      width: 100%;
    }
  }
  